<%- include('./layouts/adminHeader') %>
    <section class="content-main">
        <div class="row col-lg-12">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="text-success">Product Details</h4>
                    </div>
                    <div class="card-body">

                        <form action="/admin/addProducts" method="post" enctype="multipart/form-data">

                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product title</label>
                                <input type="text" placeholder="Type here" class="form-control" id="product_name"
                                    name="productName" required />
                            </div>

                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select text-dark" name="category">
                                    <% for (const category of categories) { %>
                                        <option><%- category.categoryName %></option>
                                        <% } %>
                                </select>
                            </div>

                            <div class="mb-4">
                                <label for="product_name" class="form-label">Brand</label>
                                <input type="text" placeholder="Type here" class="form-control" id="Brand" name="brand"
                                    required value="address" />
                            </div>

                            <div class="row ">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Price</label>
                                        <div class="row gx-2">
                                            <input placeholder="Price" type="text" class="form-control" name="price"
                                                required value="2300" />
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Qty</label>
                                        <div class="row gx-2">
                                            <input placeholder="Qty" type="text" class="form-control" name="quantity"
                                                value="1" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description"
                                        required> dsadsaasd</textarea>
                                </div>


                                <div class="card-body">
                                    <div class="input-upload">
                                        <label class="float-start pb-1" for="images">Images</label> <br><br>
                                        <!-- <input class="form-control" type="file" id="productImages" name="images" multiple required accept="image/*"> -->
                                        <!-- <input type="file" id="inputImage" accept="image/*">
                                        <button onclick="cropImage()">Crop and Save</button> -->

                                        <input type="file" id="inputImage" accept="image/*" multiple>
                                        <button onclick="loadImages()">Load Images</button>
                                        <button onclick="cropImages()">Crop and Save</button>
                                    </div>

                                </div>
                                <!-- <div id="imagePreviewContainer"></div> -->




                            </div>
                            <div>
                                <!-- <button class="btn btn-md rounded font-sm hover mt-5">Add Product</button> -->
                                <!-- <img id="image" src="" alt="Selected Image"> -->
                                <div id="imageContainer"></div>

                            </div>
                        </form>

                    </div>

                </div>
                <!-- card end -->
            </div>

        </div>
    </section>
    <!-- content-main end// -->
    <%- include('./layouts/adminFooter') %>