<style>
    .password-input-container {
        position: relative;
    }

    .password-toggle-btn {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 70%;
        transform: translateY(-50%);
        z-index: 1;
        /* Ensure the button appears above the input field */
    }
</style>
<%- include('./layouts/header') %>

    <div
        style="width: 100%; height: 110px; background-color: #f3f3f3; text-align: center; font-size: 24px;font-weight: bolder; color: #7f7f7f;line-height: 100px;">
        User Profile</div>
    <%- include('./layouts/userHeader') %>

        <!-- Profile Settings-->

        <div class="col-lg-8 pb-5 "
            style="border: 1px solid #ffffff; border-radius: 0px; background-color: rgb(255, 255, 255); padding: 15px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">

            <div class="col-lg-8 pb-5 "
                style="border: 1px solid #ffffff; border-radius: 0px; background-color: rgb(255, 255, 255); padding: 50px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">

                <!-- Flash Messages Row -->
                <div class="row">
                    <div class="row">
                        <form class="col-md-12" id="updateForm" action="/changePassword" method="post">
                            <!-- Current Password -->
                            <div class="form-group password-input-container">
                                <label for="old-password">Current Password</label>
                                <input class="form-control" style="background-color: #ffffff;" type="password"
                                    id="old-password" value="" required="" name="old_password"
                                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                                    title="Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one digit, and one special character." />

                                <span id="eye-toggle-old-password" class="password-toggle-btn"
                                    onclick="togglePasswordVisibility('old-password', 'eye-toggle-old-password')">&#x1F576;</span>
                            </div>

                            <!-- New Password -->
                            <div class="form-group password-input-container">
                                <label for="new-password">New Password</label>
                                <input class="form-control" style="background-color: #ffffff;" type="password"
                                    id="new-password" value="" required="" name="new_password" pattern="(?=.*\d).{8,}"
                                    title="Password must contain at least 1 digit and be at least 8 characters long.">

                                <span id="eye-toggle-new-password" class="password-toggle-btn"
                                    onclick="togglePasswordVisibility('new-password', 'eye-toggle-new-password')">&#x1F576;</span>
                            </div>

                            <!-- Confirm Password -->
                            <div class="form-group password-input-container">
                                <label for="confirm-password">Confirm Password</label>
                                <input class="form-control" style="background-color: #ffffff;" type="password"
                                    id="confirm-password" value="" required="" name="confirm_password"
                                    pattern="^[A-Za-z0-9@$!%*?&amp; ]+$">
                                <span id="eye-toggle-confirm-password" class="password-toggle-btn"
                                    onclick="togglePasswordVisibility('confirm-password', 'eye-toggle-confirm-password')">&#x1F576;</span>
                            </div>
                            <div class="row">
                                <% messages.forEach(message=> { %>
                                    <div style="color: red;">
                                        <%= message %>
                                    </div>
                                    <% }); %>
                            </div>
                            <div style="inline-size: min-content;">

                                <button class="btn btn-style-1 btn-primary m-5" type="submit">Update Password</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Input Boxes Row -->
                <div class="row">

                </div>


            </div>






        </div>













        <%- include('./layouts/footer') %>


            <script>
                function togglePasswordVisibility(inputId, buttonId) {
                    var passwordInput = document.getElementById(inputId);
                    var eyeButton = document.getElementById(buttonId);

                    if (passwordInput.type === "password") {
                        passwordInput.type = "text";
                        eyeButton.innerHTML = "&#x1F441;"; // Eye symbol when visible
                    } else {
                        passwordInput.type = "password";
                        eyeButton.innerHTML = "&#x1F576;"; // Eye slash symbol when hidden
                    }
                }
            </script>