<style>
    /* Import Google font - Poppins */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

    :where(.containerOtp, form, .input-field, header) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .containerOtp {
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 35px;
        border-radius: 8px;
        text-align: center;
        margin: 0 auto;
        /* Center the container horizontally */
        max-width: 400px;
        font-family: sans-serif;
    }

    .containerOtp h4 {
        font-size: 1.25rem;
        color: #333;
        font-weight: 500;
    }

    form .input-field {
        flex-direction: row;
        column-gap: 10px;
    }

    .input-field input {
        height: 45px;
        width: 42px;
        border-radius: 6px;
        outline: none;
        font-size: 1.125rem;
        text-align: center;
        border: 1px solid #ddd;
    }

    .input-field input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    .input-field input::-webkit-inner-spin-button,
    .input-field input::-webkit-outer-spin-button {
        display: none;
    }



    /* Add this CSS to your existing styles */
    form.button {
        margin-top: 10px;
        width: 80%;
        color: #fff;
        font-size: 1rem;
        border: none;
        padding: 9px 0;
        cursor: pointer;
        border-radius: 6px;

        background: #F67777;

        text-decoration: none;
    }

    form.button:hover {
        background-color: #f85555;
        text-decoration: none;
        color: #ffffff;
        /* Darker green color on hover */
    }
</style>

<%- include('./layouts/header') %>

<br><br>
    <div class="boxOtp">
        <div class="containerOtp">


            <h4 style="color: #F67777;">Enter Email</h4>
            <br>
            <form id="otpForm" action="/sendEmailData" method="post">
                <input class="input-field" type="email" name="email" id="email" value="" required />
                <% if (messages.length> 0) { %>
                    <div style="color: red;">
                        <%= messages[0] %>
                    </div>
                    <% } %>
                        <button type="" class="button">Get OTP</button>

            </form>

        </div>
    </div>










    <%- include('./layouts/footer') %>