<style>
    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #f8f8f8;
    }

    .containerPasswordReset {
        background-color: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 35px;
        border-radius: 8px;
        text-align: center;
        margin: 50px auto;
        max-width: 400px;
    }

    .containerPasswordReset h4 {
        font-size: 1.5rem;
        color: #333;
        font-weight: 500;
        margin-bottom: 20px;
    }

    form .input-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .input-field input {
        width: 271px;
        height: 38px;
        border-radius: 6px;
        outline: none;
        font-size: 1.125rem;
        text-align: center;
        border: 1px solid #ddd;
        transition: box-shadow 0.3s ease;
        margin-bottom: 10px;
    }

    .input-field input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    .input-field input::-webkit-inner-spin-button,
    .input-field input::-webkit-outer-spin-button {
        display: none;
    }

    .button {
        width: 80%;
        color: #fff;
        font-size: 1rem;
        border: none;
        padding: 10px 0;
        cursor: pointer;
        border-radius: 6px;
        background: #F67777;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .button:hover {
        background-color: #f85555;
        color: #ffffff;
    }
</style>
<%- include('./layouts/header') %>


    <br><br>
    <div class="containerPasswordReset">
        <h4 style="color: #F67777;">Reset Password</h4>
        <form action="/newPassword" method="post" class="input-field">
            <input type="hidden" name="email" value="<%= email %>">
            <p>
            
            </p>
            
            <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                title="Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one digit, and one special character." />
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Re-enter Password" required
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                title="Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one digit, and one special character." />

            <% if (messages.length> 0) { %>
                <div style="color: red;">
                    <%= messages[0] %>
                </div>
                <% } %>
                    <button type="submit" class="button">Save Password</button>
        </form>
    </div>





    <%- include('./layouts/footer') %>