<%- include('./layouts/header') %>


	<div class="banner-top">
		<div class="container">
			<h1>Register</h1>
			<em></em>
			<h2><a href="">Home</a><label>/</label>Register</h2>
		</div>
	</div>
	<!--login-->
	<div class="container">
		<div class="login">
			<form action="" method="post">
				<div class="col-md-6 login-do">
					<div class="login-mail">
						<input type="text" placeholder="Name" required="" name="userName"
							pattern="^[A-Za-z0-9][A-Za-z0-9_ ]*$">
						<i class="glyphicon glyphicon-user"></i>
					</div>
					<div class="login-mail">
						<input type="text" placeholder="Phone Number" required="" name="userMobilenumber"
							pattern="[0-9]{10}" title="Phone number should be 10 digits">
						<i class="glyphicon glyphicon-phone"></i>
					</div>


					<div class="login-mail">
						<input type="text" placeholder="Email" required="" name="userEmail"
							pattern="[A-Za-z0-9]*[@](gmail)*[\.](com)$">
						<i class="glyphicon glyphicon-envelope"></i>
					</div>
					<div class="login-mail">
						<input type="password" placeholder="Password" required name="userPassword"
							pattern="(?=.*\d).{8,}"
							title="Password must contain at least 1 digit and be at least 8 characters long.">

						<i class="glyphicon glyphicon-lock"></i>
					</div>

					<% if (messages.length> 0) { %>
						<div style="color: red;">
							<%= messages[0] %>
						</div>
						<% } %>


							<label class="hvr-skew-backward">
								<input type="submit" value="Submit">
							</label>


				</div>
				<div class="col-md-6 login-right">
					<h3>Completely Free Account</h3>

					<p>Welcome to our Shop! Creating an account is easy and completely free. Gain access to
						exclusive features and content by registering today.</p>
					<p style="color: darkblue;">Already have an account?</p>
					<a href="userLogin" class="hvr-skew-backward">Login</a>

				</div>

				<div class="clearfix"> </div>
			</form>
		</div>

	</div>

	<!--//login-->








	<%- include('./layouts/footer') %>