<!--brand-->
<div class="container">
	<!-- <div class="brand">
			<div class="col-md-3 brand-grid">
				<img src="/images/ic.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 brand-grid">
				<img src="/images/ic1.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 brand-grid">
				<img src="/images/ic2.png" class="img-responsive" alt="">
			</div>
			<div class="col-md-3 brand-grid">
				<img src="/images/ic3.png" class="img-responsive" alt="">
			
		</div> -->
</div>

</div>
</div>
<div class="clearfix"></div>
<br><br>
<!--//content-->
<!--//footer-->
<div class="footer">
	<div class="footer-middle">
		<div class="container">
			<div class="col-md-3 footer-middle-in">
				<!-- <a href=""><img src="/images/KIDDz.png" alt=""></a> -->
				
				<p>Welcome to our magical world of KidStyle Wonderland! 🌈✨ Dive into a world of fun and fashion where
					every outfit is a burst of joy and every accessory is a sprinkle of magic.adorable
					accessories, and comfy shoes for your little ones.</p>
			</div>

			<div class="col-md-3 footer-middle-in">
				<h6>Information</h6>
				<ul class=" in">
					<li><a href="#">About</a></li>
					<li><a href="/contact">Contact Us</a></li>


				</ul>
				<ul class="in in1">
					<li><a href="/ordePageUser">Order History</a></li>
					<li><a href="/wishlist">Wish List</a></li>

				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-3 footer-middle-in">
				<h6>Tags</h6>
				<ul class="tag-in">
					<li><a>Shirts</a></li>
					<li><a>Pants</a></li>
					<li><a>Tshirts</a></li>
					<li><a>Choli</a></li>
					<li><a>Party wear</a></li>

				</ul>
			</div>
			<div class="col-md-3 footer-middle-in">
				<h6>Newsletter</h6>
				<span>Sign up for News Letter</span>
				<form>
					<input type="text" value="Enter your E-mail" onfocus="this.value='';"
						onblur="if (this.value == '') {this.value ='Enter your E-mail';}">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<ul class="footer-bottom-top">
				<li><a><img src="/images/f1.png" class="img-responsive" alt=""></a></li>
				<li><a><img src="/images/f2.png" class="img-responsive" alt=""></a></li>
				<li><a><img src="/images/f3.png" class="img-responsive" alt=""></a></li>
			</ul>
			<p class="footer-class">&copy; 2024 KIDDz. All Rights Reserved | Design by anaz
			</p>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--//footer-->
<script src="/js/imagezoom.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script defer src="/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />

<script>
	// Can also be used with $(document).ready()
	$(window).load(function () {
		$('.flexslider').flexslider({
			animation: "slide",
			controlNav: "thumbnails"
		});
	});
</script>
<!-- Include SweetAlert library using CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="/js/simpleCart.min.js"> </script>
<!-- slide -->
<script src="/js/bootstrap.min.js"></script>


</body>

</html>