<!-- content-main end// -->
<footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
        <div class="col-sm-6">
            <script>
                document.write(new Date().getFullYear());
            </script>
            &copy; Nest - HTML Ecommerce Template .
        </div>
        <div class="col-sm-6">
            <div class="text-sm-end">All rights reserved</div>
        </div>
    </div>
</footer>
</main>
<!-- DataTables JS -->


<script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
    integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://kit.fontawesome.com/0701bc866c.js" crossorigin="anonymous"></script>
<script src="/adminCss/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/adminCss/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/adminCss/js/vendors/select2.min.js"></script>
<script src="/adminCss/js/vendors/perfect-scrollbar.js"></script>
<script src="/adminCss/js/vendors/jquery.fullscreen.min.js"></script>
<script src="/adminCss/js/vendors/chart.js"></script>
<script src="/adminCss/js/imagePreview.js"></script>
<script src="/adminCss/js/custom-chart.js"></script>
<!-- Main Script -->
<!-- <script src="/adminCss/js/main.js?v=1.1" type="text/javascript"></script>
<script src="/adminCss/js/custom-chart.js" type="text/javascript"></script> -->

</body>

</html>