<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Shopin Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg" /> -->
    <!-- Template CSS -->


    <!-- DataTables JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link href="/adminCss/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css"
        integrity="sha512-bs9fAcCAeaDfA4A+NiShWR886eClUcBtqhipoY5DM60Y1V3BbVQlabthUBal5bq8Z8nnxxiyb1wfGX2n76N1Mw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />




    <style>
        .active {
            background-color: rgba(59, 183, 126, 0.2);
            border-radius: 5px;
            color: #000000;
        }
    </style>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/" class="brand-wrap">
                <!-- <img src="/imgas/theme/logo.svg" class="logo" alt="Nest Dashboard" /> -->
            </a>
            <!-- <div>
                <button class="btn btn-icon btn-aside-minimize"><i
                        class="text-muted material-icons md-menu_open"></i></button>
            </div> -->
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard">
                        <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="menu-item"><a href="/admin/users" class="menu-item has-submenu menu-link">
                        <!-- <i class=" icon fa-solid fa-users fa-2xs"style="color: #adb5bd;"></i> -->
                        <i class="icon material-icons md-people"></i>
                        Users
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link menu-item has-submenu" href="/admin/orders">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>

                </li>
                <li class="menu-item">
                    <a href="/admin/products" class="menu-item has-submenu menu-link">
                        <i class="icon material-icons md-shopping_bag"></i>
                        Products
                    </a>
                </li>


                <li class="menu-item"><a href="/admin/addProduct" class="menu-item has-submenu menu-link">
                        <i class="icon material-icons md-add_box"></i>
                        Add Products
                    </a>
                </li>
                <li class="menu-item"><a href="/admin/category" class="menu-item has-submenu menu-link ">
                        <!-- <i class=" icon fa-solid fa-list fa-2xs" style="color: #adb5bd;"></i>
                     -->
                        <i class="icon material-icons md-view_list"></i>

                        Category
                    </a>
                </li>
                <li class="menu-item"><a href="/admin/coupons" class="menu-item has-submenu menu-link ">
                        <!-- <i class=" icon fa-solid fa-list fa-2xs" style="color: #adb5bd;"></i>
                     -->
                        <i class="icon material-icons md-comment"></i>

                        Coupons
                    </a>
                </li>
                <!-- <li class="menu-item has-submenu">
                     <a class="menu-link" href="/addProduct">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Add product</span>
                        </a> -->
                <!-- <div class="submenu">
                            <a href="page-form-product-1.html">Add product</a>
                             <a href="page-form-product-2.html">Add product 2</a>
                            <a href="page-form-product-3.html">Add product 3</a>
                            <a href="page-form-product-4.html">Add product 4</a> 
                        </div> 
                   
                    </li>  -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html">
                        <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Account</span>
                        </a> -->
                <!-- <div class="submenu">
                            <a href="page-account-login.html">User login</a>
                            <a href="page-account-register.html">User registration</a>
                            <a href="page-error-404.html">Error 404</a>
                        </div> -->
                <!-- </li> -->
                <!-- <li class="menu-item">
                        <a class="menu-link" href="page-reviews.html">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Reviews</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" disabled href="#">
                            <i class="icon material-icons md-pie_chart"></i>
                            <span class="text">Statistics</span>
                        </a>
                    </li>
                </ul>
                <hr /> -->
                <!-- <ul class="menu-aside">
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                        <div class="submenu">
                            <a href="page-settings-1.html">Setting sample 1</a>
                            <a href="page-settings-2.html">Setting sample 2</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-blank.html">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text"> Starter page </span>
                        </a>
                    </li>
                </ul> -->
                <br />
                <br />
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar" style="margin-top: 0px;">
            <div class="col-search">
                <!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                        <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products"></option>
                        <option value="New orders"></option>
                        <option value="Apple iphone"></option>
                        <option value="Ahmed Hassan"></option>
                    </datalist>
                </form> -->
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                        class="material-icons md-apps"></i></button>
                <ul class="nav">
                   
                
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/adminCss/imgs/people/avatar-2.png" alt="User" /></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <!-- <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a> -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/adminLogout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>






        <script>
            $(document).ready(function () {
                // Get the current URL path
                var currentPath = window.location.pathname;

                // Loop through each menu item and check if its href matches the current path
                $('ul li a').each(function () {
                    var menuItemPath = $(this).attr('href');

                    if (currentPath === menuItemPath) {
                        // If the href matches, add a class to highlight the menu item
                        $(this).parent('li').addClass('active');
                    }
                });
            });
        </script>